{{>header}}
<div>
    <div>
        <img src="{{image}}" alt="{{description}}">
    </div>
    <div>
        <h2>{{name}} from {{shopName}}</h2>
        <h2>Price: {{price}}</h2>
    </div>
    <div>
        {{description}}
    </div>
    <br>
    <div>
        {{review}}
    </div>
</div>
<br>
<div>
    Rate: {{rate}}
</div>
{{>footer}}