{{> header}}
{{#each food}}
    <div>
        <img src="{{image}}" alt="{{description}}">
    </div>
        <p>
            {{name}}
            <br>
            {{description}}
            <br>
            Rating: {{rate}}
        </p>
    </div>
{{/each}}
{{> footer}}